# Environment variables declared in this file are automatically made available to Prisma.

# Ganti URL ini dengan URL PostgreSQL Anda (dapat dari Supabase / Neon / Vercel Postgres)
DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
